.landing {
    margin-bottom: 75px;
    background-color: #8ad1ab; 
}
.intro {
    text-align: center;
    padding: 1vw 0;
}
.selections {
    display: flex;
    justify-content: space-around;
    padding-bottom: 4vw;
}
.select-box {
    text-align: center;
    background-color: #72a069;
    height: 350px;
    width: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    font-family: 'Satisfy', cursive;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
}
.select-box img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.select-box:hover {
opacity: 0.8;
}
