.page {
font-family: 'Inter', sans-serif;
background: #bed3bb;
padding: 2vw 2vw 8vw 2vw;
text-align: center;
font-size: 18px;
}
.MuiAccordionDetails-root {
display: flex;
justify-content: center;
background-color: #92dbb4;
}

