.services-tabs {
  padding: 8px 0 0 0;
  display: flex;
  align-content: row;
  justify-content: space-evenly;
  
}

.tab-inactive {
  font-size: 18px;
  background-color: #389463;
  border-radius: 5px;
}
.tab-active {
  font-size: 18px;
  background-color: lightgreen;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 0;
}

.text-block {
  text-align: left;
  width: 250px;
}
.clear {
  display: none;
}
.service-content {
  padding: 0;
  background-color: lightgreen;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
}
.service-div {
  width: 70vw;
  padding: 10px;
}