/* Styles for app and Navbar */
.main {
  background-color: #8ad1ab;
  font-family: 'Inter', sans-serif;
}

.no-page {
  text-align: center;
  padding: 30vw;
  background: #3389da;
  font-size: 24px;
}

.title-div {
  text-align: center;
  margin: 0 0 0 12vw;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  padding: 0;
  margin: 0;
  font-family: 'Itim', cursive;
  font-size: 35px;
}
.subtitle {
  font-family: 'Satisfy', cursive;
  font-weight: 500;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
h3 {
  font-family: 'Satisfy', cursive;
  font-size: 22px;
  padding: 0;
  margin: 0;
}